html {
  box-sizing: border-box;
  background: url(./images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1030px;
  margin: 0 auto;
  position: relative;
}

.header {
  display: flex;
  padding-top: 46px;
  padding-bottom: 17px;
}

address {
  margin-left: auto;
}

address a {
  color: inherit;
  font-style: normal;
  font-size: 18px;
}

address a:hover {
  color: #f26522;
}

.wrapper-logo {
  display: flex;
  align-items: center;
}

.wrapper-logo:hover h1,
.wrapper-logo:hover p {
  color: #f26522;
}

.wrapper-logo:hover svg {
  fill: #f26522;
}

.wrapper-logo-text {
  text-transform: uppercase;
  padding-left: 8px;
  align-self: flex-end;
  justify-content: flex-end;
}

.wrapper-logo-text h1 {
  font-size: 29px;
  font-weight: 700;
}
.wrapper-logo-text p {
  font-size: 18px;
  font-weight: 700;
}

.wrapper-contacts {
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-align: right;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 37px;
  justify-content: space-between;
}

.cards img {
  display: block;
  width: 100%;
}

.cards p {
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.info-hover {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f26522;
  padding: 7px 14px 12px;
  transition: transform 500ms ease-in-out;
}

.cards li:hover .img-wrapper + p {
  color: #f26522;
}

.cards li:hover .info-hover {
  transform: translateY(-100%);
}

.info-hover span {
  color: white;
  font-size: 14px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.wrapper-money + span::after {
  content: "";
  width: 8px;
  height: 12px;
  background-image: url(./images/arrow.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.wrapper-money > p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
  padding-top: 0;
}

p.money {
  font-size: 20px;
  padding-top: 8px;
}

footer {
  margin-top: 48px;
  text-align: center;
  font-size: 12px;
  background: transparent;
}
